.menu
    background-color: white
    position: relative !important
    left: -22% !important
    height: 800px !important
    ul
        li
            a
                text-decoration: none
                color: black
.menu2
    background-color: white
    height: 800px !important
    ul
        li
            a
                text-decoration: none
                color: black
             
        
